14:21:35 L1-Dev - > Activated DevNET for Layer 1 ( Crypto Layer )
14:21:36 L1-Dev - > Starting As Main Node
14:21:40 L1-Dev - > Block Integrity Valid
14:21:56 L1-Dev - > Last Block Row No : 711
14:21:57 L1-Dev - > Block Came From The Loading DB [ ______________3 ]
14:21:57 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 120 - > 3
Node.Api.AddToBalanceDB [cba09834] : 120
14:21:57 L1-Dev - > Block Came From The Loading DB [ ______________4 ]
14:21:57 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 120 - > 4
Node.Api.AddToBalanceDB [cba09834] : 120
14:21:58 L1-Dev - > Block Came From The Loading DB [ ______________5 ]
14:21:58 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 120 - > 5
Node.Api.AddToBalanceDB [cba09834] : 120
14:21:58 L1-Dev - > Block Came From The Loading DB [ ______________8 ]
14:21:58 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 120 - > 8
Node.Api.AddToBalanceDB [cba09834] : 120
14:21:58 L1-Dev - > Block Came From The Loading DB [ ______________9 ]
14:21:58 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 120 - > 9
Node.Api.AddToBalanceDB [cba09834] : 120
14:21:58 L1-Dev - > Block Came From The Loading DB [ _____________10 ]
14:21:58 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 120 - > 10
Node.Api.AddToBalanceDB [cba09834] : 120
14:21:59 L1-Dev - > Block Came From The Loading DB [ _____________11 ]
14:21:59 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 120 - > 11
Node.Api.AddToBalanceDB [cba09834] : 120
14:21:59 L1-Dev - > Block Came From The Loading DB [ _____________13 ]
14:21:59 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 120 - > 13
Node.Api.AddToBalanceDB [cba09834] : 120
14:21:59 L1-Dev - > Block Came From The Loading DB [ _____________14 ]
14:21:59 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 120 - > 14
Node.Api.AddToBalanceDB [cba09834] : 120
14:21:59 L1-Dev - > Block Came From The Loading DB [ _____________15 ]
14:21:59 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 120 - > 15
Node.Api.AddToBalanceDB [cba09834] : 120
14:22:00 L1-Dev - > Block Came From The Loading DB [ _____________17 ]
14:22:00 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 120 - > 17
Node.Api.AddToBalanceDB [cba09834] : 120
14:22:00 L1-Dev - > Block Came From The Loading DB [ _____________18 ]
14:22:00 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 90 - > 18
14:22:00 L1-Dev - > Block Came From The Loading DB [ _____________19 ]
14:22:00 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 120 - > 19
Node.Api.AddToBalanceDB [cba09834] : 120
14:22:01 L1-Dev - > Block Came From The Loading DB [ _____________37 ]
14:22:01 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 120 - > 37
Node.Api.AddToBalanceDB [cba09834] : 120
14:22:01 L1-Dev - > Block Came From The Loading DB [ _____________45 ]
14:22:01 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 120 - > 45
Node.Api.AddToBalanceDB [cba09834] : 120
14:22:01 L1-Dev - > Block Came From The Loading DB [ _____________47 ]
14:22:01 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 90 - > 47
14:22:02 L1-Dev - > Block Came From The Loading DB [ _____________48 ]
14:22:02 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 120 - > 48
Node.Api.AddToBalanceDB [cba09834] : 120
14:22:02 L1-Dev - > Block Came From The Loading DB [ _____________49 ]
14:22:02 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 120 - > 49
Node.Api.AddToBalanceDB [cba09834] : 120
14:22:03 L1-Dev - > Block Came From The Loading DB [ ____________148 ]
14:22:03 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 120 - > 148
Node.Api.AddToBalanceDB [cba09834] : 120
14:22:03 L1-Dev - > Block Came From The Loading DB [ ____________149 ]
14:22:03 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 90 - > 149
14:22:04 L1-Dev - > Block Came From The Loading DB [ ____________153 ]
14:22:04 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 120 - > 153
Node.Api.AddToBalanceDB [cba09834] : 120
14:22:04 L1-Dev - > Block Came From The Loading DB [ ____________176 ]
14:22:04 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 120 - > 176
Node.Api.AddToBalanceDB [cba09834] : 120
14:22:04 L1-Dev - > Block Came From The Loading DB [ ____________177 ]
14:22:04 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 120 - > 177
Node.Api.AddToBalanceDB [cba09834] : 120
14:22:05 L1-Dev - > Block Came From The Loading DB [ ____________178 ]
14:22:05 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 120 - > 178
Node.Api.AddToBalanceDB [cba09834] : 120
14:22:05 L1-Dev - > Block Came From The Loading DB [ ____________179 ]
14:22:05 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 120 - > 179
Node.Api.AddToBalanceDB [cba09834] : 120
14:22:05 L1-Dev - > Block Came From The Loading DB [ ____________184 ]
14:22:05 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 120 - > 184
Node.Api.AddToBalanceDB [cba09834] : 120
14:22:07 L1-Dev - > Block Came From The Loading DB [ ____________360 ]
14:22:07 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 120 - > 360
Node.Api.AddToBalanceDB [cba09834] : 120
14:22:07 L1-Dev - > Block Came From The Loading DB [ ____________361 ]
14:22:07 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 40 - > 361
14:22:07 L1-Dev - > Block Came From The Loading DB [ ____________363 ]
14:22:07 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 90 - > 363
14:22:07 L1-Dev - > Block Came From The Loading DB [ ____________365 ]
14:22:07 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 90 - > 365
14:22:08 L1-Dev - > Block Came From The Loading DB [ ____________375 ]
14:22:08 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 120 - > 375
Node.Api.AddToBalanceDB [cba09834] : 120
14:22:08 L1-Dev - > Block Came From The Loading DB [ ____________379 ]
14:22:08 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 120 - > 379
Node.Api.AddToBalanceDB [cba09834] : 120
14:22:08 L1-Dev - > Block Came From The Loading DB [ ____________380 ]
14:22:08 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 120 - > 380
Node.Api.AddToBalanceDB [cba09834] : 120
14:22:09 L1-Dev - > Block Came From The Loading DB [ ____________381 ]
14:22:09 L1-Dev - > Balance.Cs - > Control function - > Line 178 - > Block type - > 120 - > 381
Node.Api.AddToBalanceDB [cba09834] : 120
14:22:11 L1-Dev - > All Blocks Loaded
14:22:12 L1-Dev - > Main Validator Started
14:22:12 L1-Dev - > Listining : http://89.252.134.91:5002/
14:22:12 L1-Dev - > Http Has Started
14:22:12 L1-Dev - > Waiting For Node Sync
14:22:12 L1-Dev - > Getting UTC Time From NTP Server
14:22:12 L1-Dev - > Node Blocks Are Checking For Sync
14:22:12 L1-Dev - > Block Came From The Block Sync [ ____________711 ]
14:22:12 L1-Dev - > We Already Processed The Block
14:22:12 L1-Dev - > Empty Block Timer Has Started
14:22:12 L1-Dev - > Crypto Transfer Timer Has Started
14:22:13 L1-Dev - > First Synchronization Is Done
14:22:13 L1-Dev - > Active Node Count : 2
14:22:13 L1-Dev - > I'm Sending Starting (When) Time / Current : 11:22:40.000 / 11:22:12.989
When = Is Come
26.09.2022 11:22:40
14:22:40 L1-Dev - > Node Starts + + - + + + + - + + + - + + -- + ---- + +14:30:03 L1-Dev - > Empty Block Executed
14:30:03 L1-Dev - > Block Came From The Main Loop [ ____________712 ]
14:30:03 L1-Dev - > Distrubuting 712[ 300 ] . Block To 89.252.184.151:5002
- + -- + - + - + - + - + -- + + --- + --- + -- + - + + - + + + + + + + + + ----14:45:06 L1-Dev - > Block Came From The Validator Queue [ ____________713 ]
- + - + - + - + + -- {
    "20220924211651":

{
    "TransactionId": "1348bfc33ac30000005224dbd5db58db02762c8d536e357325879b1d5f31a584950913b6a31a4322961014a4f2", "Sender":

{
    "ErrorNo": 0, "CurrentTime": 20220924211651, "UnlockTime": 20220924211652, "Currency": "NOTUS", "Sender": "NMDN1zpKQ3jrR8TvhGbD9tN5uoGefenzr37jwC1", "Receiver": "NODZGjyzoDnEGmtHGPWFEwU6CVJRAgmt8ehCEw6", "Volume": "50000000", "PublicKey": "30646943031ef2e540f130376572ca026a04110508f5471a02882ce84d5c0b662c8c283cafe5477f162e8fe05802e08402846a1bb9b521f9a9c8bc62c390448f", "Sign": "3046022100f675e64e8976b4a7230100455abf380d0ce19e1876136dc7a540d8a8b632aebb022100cf3d80179d3b656e6d88766f140eba50b200c35c79a9bef2b64fd1de0609bf7f", "CurveName": "prime256v1", "Network": 30
}

,
"Approve": {
    "NODbV6NAhnGUq72nyeNUvdv1wBSc1PGbN4xsjhb":

{
    "Approve": false, "TransactionId": "", "CurrentTime": 0, "Sign": "", "PublicKey": ""
}

,
"NODWnve5Dd82Xp9WjCnKpcFTdJHBG1SuzgHmG3q": {
    "Approve": true, "TransactionId": "1348bfc33ac30000005224dbd5db58db02762c8d536e357325879b1d5f31a584950913b6a31a4322961014a4f2", "CurrentTime": 20220926124321, "Sign": "304402205485c5e2edef82bacab2db8090a22f4126a78779355e8afeea2d4813fd1794c102204c707c1a179132f198ef0ffe2ae921a5026b6808d41960b506cb9a9d2ac52edc", "PublicKey": "993a18731c35e3d21c8589c8a1e3abc71dd1c07bad07467d15512b5341e6da6ce0499ea2028fab0e530ca884c888036a37a01b34b6c9ba33540fd0e03cf69c20"
}

,
"NODZNHVB39MjS3cWAcBgpgu1pM2nAPMQv6hSSBf": {
    "Approve": true, "TransactionId": "1348bfc33ac30000005224dbd5db58db02762c8d536e357325879b1d5f31a584950913b6a31a4322961014a4f2", "CurrentTime": 20220924212216, "Sign": "3045022048bc94a3ba5a3ad045448782d39cf5599d324c28881a76213160dfd225f374b7022100f69d1093f41bd21f4207be223fe24e4bf077c0b026f6b81bad1cba1ccd4f2137", "PublicKey": "d328c9e2dac3e290c35e8a2b4c102a7f8a03c26f981af290f8ac3394af8c260ba9178f951ce4e44397423c10bab6042dffba132b8dfc29b61fc5249785a48660"
}

,
"NODZRQH2MBUEpRTAgieGuFmyGejDfD12G8rCq4j": {
    "Approve": false, "TransactionId": "", "CurrentTime": 0, "Sign": "", "PublicKey": ""
}

}
,
"Status": 89,
"VoteType": 1
}
}

needVote : 3
voterCount : 4
approveCount : 3
refuseCount : 0
TX Accepted {
    "TransactionId": "1348bfc33ac30000005224dbd5db58db02762c8d536e357325879b1d5f31a584950913b6a31a4322961014a4f2", "Sender":

{
    "ErrorNo": 0, "CurrentTime": 20220924211651, "UnlockTime": 20220924211652, "Currency": "NOTUS", "Sender": "NMDN1zpKQ3jrR8TvhGbD9tN5uoGefenzr37jwC1", "Receiver": "NODZGjyzoDnEGmtHGPWFEwU6CVJRAgmt8ehCEw6", "Volume": "50000000", "PublicKey": "30646943031ef2e540f130376572ca026a04110508f5471a02882ce84d5c0b662c8c283cafe5477f162e8fe05802e08402846a1bb9b521f9a9c8bc62c390448f", "Sign": "3046022100f675e64e8976b4a7230100455abf380d0ce19e1876136dc7a540d8a8b632aebb022100cf3d80179d3b656e6d88766f140eba50b200c35c79a9bef2b64fd1de0609bf7f", "CurveName": "prime256v1", "Network": 30
}

,
"Approve": {
    "NODbV6NAhnGUq72nyeNUvdv1wBSc1PGbN4xsjhb":

{
    "Approve": false, "TransactionId": "", "CurrentTime": 0, "Sign": "", "PublicKey": ""
}

,
"NODWnve5Dd82Xp9WjCnKpcFTdJHBG1SuzgHmG3q": {
    "Approve": true, "TransactionId": "1348bfc33ac30000005224dbd5db58db02762c8d536e357325879b1d5f31a584950913b6a31a4322961014a4f2", "CurrentTime": 20220926124321, "Sign": "304402205485c5e2edef82bacab2db8090a22f4126a78779355e8afeea2d4813fd1794c102204c707c1a179132f198ef0ffe2ae921a5026b6808d41960b506cb9a9d2ac52edc", "PublicKey": "993a18731c35e3d21c8589c8a1e3abc71dd1c07bad07467d15512b5341e6da6ce0499ea2028fab0e530ca884c888036a37a01b34b6c9ba33540fd0e03cf69c20"
}

,
"NODZNHVB39MjS3cWAcBgpgu1pM2nAPMQv6hSSBf": {
    "Approve": true, "TransactionId": "1348bfc33ac30000005224dbd5db58db02762c8d536e357325879b1d5f31a584950913b6a31a4322961014a4f2", "CurrentTime": 20220924212216, "Sign": "3045022048bc94a3ba5a3ad045448782d39cf5599d324c28881a76213160dfd225f374b7022100f69d1093f41bd21f4207be223fe24e4bf077c0b026f6b81bad1cba1ccd4f2137", "PublicKey": "d328c9e2dac3e290c35e8a2b4c102a7f8a03c26f981af290f8ac3394af8c260ba9178f951ce4e44397423c10bab6042dffba132b8dfc29b61fc5249785a48660"
}

,
"NODZRQH2MBUEpRTAgieGuFmyGejDfD12G8rCq4j": {
    "Approve": true, "TransactionId": "1348bfc33ac30000005224dbd5db58db02762c8d536e357325879b1d5f31a584950913b6a31a4322961014a4f2", "CurrentTime": 20220926144852, "Sign": "304502204a800a3845f59a76d58789e5ce6fa4e517e7cfb366d7c848184b2e324dfb8738022100a6db26debdb45aff135b5e27650a1626e0cab1bd0fefe4a20073d09c100d76dc", "PublicKey": "c7d3dfbb2cbd5b9be72cb925cb1589b87fb2682b352cdf05ee66eaa248bfe04444668c399a3d37d72413288349b2a406dd8001333594e6a9d5b6cd6e69d70c60"
}

}
,
"Status": 57,
"VoteType": 1
}
-
